:root {
  --background-dark: #171717;
  --background: #ffffff;
  --color: #000000;
  --color-dark: #ffffff;
}

body {
  background: var(--background);
  color: var(--color);
  font-family: Arial, Helvetica, sans-serif;
}

.dark {
    background: var(--background-dark);
    color: var(--color-dark);
    * {
      background: var(--background-dark);
    }
    p, div, span, h1, h2, h3, h4, h5, h6 {
      color: var(--color-dark);
    }
}
